---
---

#header,
#main,
#topbar-inner {
    max-width: 1150px;
}

#container.one-column {
}

#container.two-columns-right #secondary {
    width: 250px;
    float: right;
}

#container.two-columns-right #content {
    width: calc(100% - 280px);
    float: left;
}

#container.two-columns-left #primary {
    width: 250px;
    float: left;
}

#container.two-columns-left #content {
    width: calc(100% - 280px);
    float: right;
}

#container.three-columns-right .sidey {
    width: 125px;
    float: left;
}

#container.three-columns-right #primary {
    margin-left: 15px;
    margin-right: 15px;
}

#container.three-columns-right #content {
    width: calc(100% - 280px);
    float: left;
}

#container.three-columns-left .sidey {
    width: 125px;
    float: left;
}

#container.three-columns-left #secondary {
    margin-left: 15px;
    margin-right: 15px;
}

#container.three-columns-left #content {
    width: calc(100% - 280px);
    float: right;
}

#container.three-columns-sided .sidey {
    width: 125px;
    float: left;
}

#container.three-columns-sided #secondary {
    float: right;
}

#container.three-columns-sided #content {
    width: calc(100% - 310px);
    float: right;
    margin: 0 155px 0 -1150px;
}

body {
    font-family: Ubuntu;
}

#content h1.entry-title a,
#content h2.entry-title a,
#content h1.entry-title,
#content h2.entry-title {
    font-family: "Yanone Kaffeesatz Regular";
}

.widget-title,
.widget-title a {
    font-family: "Open Sans Light";
}

.entry-content h1,
.entry-content h2,
.entry-content h3,
.entry-content h4,
.entry-content h5,
.entry-content h6,
#comments #reply-title,
.nivo-caption h2,
#front-text1 h2,
#front-text2 h2,
.column-header-image,
.column-header-noimage {
    font-family: "Open Sans Light";
}

#site-title span a {
    font-family: "Yanone Kaffeesatz Regular";
}

#access ul li a,
#access ul li a span {
    font-family: "Droid Sans";
}

body {
    color: #444444;
    background-color: #171717;
}

a {
    color: #1693a5;
}

a:hover,
.entry-meta span a:hover,
.comments-link a:hover {
    color: #d6341d;
}

#header {
}

#site-title span a {
    color: #1693a5;
}

#site-description {
    color: #999999;
}

.socials a {
    background-color: #1693a5;
}

.socials .socials-hover {
    background-color: #d6341d;
}

/* Main menu top level */
#access a,
#nav-toggle span,
li.menu-main-search .searchform input[type="search"] {
    color: #333333;
}

li.menu-main-search .searchform input[type="search"] {
    background-color: #ffffff;
    border-left-color: #e1e1e1;
}

#access,
#nav-toggle {
    background-color: #ffffff;
}

#access > .menu > ul > li > a > span {
    border-color: #e1e1e1;
    -webkit-box-shadow: 1px 0 0 #ffffff;
    box-shadow: 1px 0 0 #ffffff;
}

/*.rtl #access > .menu > ul > li > a > span { -webkit-box-shadow: -1px 0 0 #ffffff; box-shadow: -1px 0 0 #ffffff; } */
#access a:hover {
    background-color: #ffffff;
}

#access ul li.current_page_item > a,
#access ul li.current-menu-item > a,
#access ul li.current_page_ancestor > a,
#access ul li.current-menu-ancestor > a {
    background-color: #ffffff;
}

/* Main menu Submenus */
#access > .menu > ul > li > ul:before {
    border-bottom-color: #2d2d2d;
}

#access ul ul ul li:first-child:before {
    border-right-color: #2d2d2d;
}

#access ul ul li {
    background-color: #2d2d2d;
    border-top-color: #3b3b3b;
    border-bottom-color: #222222;
}

#access ul ul li a {
    color: #bbbbbb;
}

#access ul ul li a:hover {
    background: #3b3b3b;
}

#access ul ul li.current_page_item > a,
#access ul ul li.current-menu-item > a,
#access ul ul li.current_page_ancestor > a,
#access ul ul li.current-menu-ancestor > a {
    background-color: #3b3b3b;
}

#topbar {
    background-color: #000000;
    border-bottom-color: #282828;
    box-shadow: 3px 0 3px #000000;
}

.topmenu ul li a,
.topmenu .searchsubmit {
    color: #cccccc;
}

.topmenu ul li a:hover,
.topmenu .searchform input[type="search"] {
    color: #eeeeee;
    border-bottom-color: rgba(22, 147, 165, 0.5);
}

#main {
    background-color: #ffffff;
}

#author-info,
#entry-author-info,
#content .page-title {
    border-color: #1693a5;
    background: #ffffff;
}

#entry-author-info #author-avatar,
#author-info #author-avatar {
    border-color: #ffffff;
}

.sidey .widget-container {
    color: #333333;
}

.sidey .widget-title {
    color: #666666;
    background-color: #ffffff;
    border-color: #d7d7d7;
}

.sidey .widget-container a {
}

.sidey .widget-container a:hover {
}

.entry-content h1,
.entry-content h2,
.entry-content h3,
.entry-content h4,
.entry-content h5,
.entry-content h6 {
    color: #444444;
}

.sticky .entry-header {
    border-color: #1693a5;
}

.entry-title,
.entry-title a {
    color: #444444;
}

.entry-title a:hover {
    color: #000000;
}

#content span.entry-format {
    color: #333333;
    background-color: #ffffff;
}

#footer {
    color: #aaaaaa;
}

#footer2 {
    color: #aaaaaa;
    background-color: #ffffff;
}

#footer a {
}

#footer a:hover {
}

#footer2 a,
.footermenu ul li:after {
}

#footer2 a:hover {
}

#footer .widget-container {
    color: #333333;
}

#footer .widget-title {
    color: #666666;
    background-color: #ffffff;
    border-color: #d7d7d7;
}

a.continue-reading-link,
#cryout_ajax_more_trigger {
    color: #333333;
    background: #ffffff;
    border-bottom-color: #1693a5;
}

a.continue-reading-link:hover {
    border-bottom-color: #d6341d;
}

a.continue-reading-link i.crycon-right-dir {
    color: #1693a5;
}

a.continue-reading-link:hover i.crycon-right-dir {
    color: #d6341d;
}

.page-link a,
.page-link > span > em {
    border-color: #cccccc;
}

.columnmore a {
    background: #1693a5;
    color: #ffffff;
}

.columnmore a:hover {
    background: #d6341d;
}

.button,
#respond .form-submit input#submit,
input[type="submit"],
input[type="reset"] {
    background-color: #1693a5;
}

.button:hover,
#respond .form-submit input#submit:hover {
    background-color: #d6341d;
}

.entry-content tr th,
.entry-content thead th {
    color: #444444;
}

.entry-content fieldset,
#content tr td,
#content tr th,
#content thead th {
    border-color: #cccccc;
}

#content tr.even td {
    background-color: #ffffff !important;
}

hr {
    background-color: #cccccc;
}

input[type="text"],
input[type="password"],
input[type="email"],
textarea,
select,
input[type="color"],
input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="month"],
input[type="number"],
input[type="range"],
input[type="search"],
input[type="tel"],
input[type="time"],
input[type="url"],
input[type="week"] {
    background-color: #ffffff;
    border-color: #cccccc #ffffff #ffffff #cccccc;
    color: #444444;
}

input[type="submit"],
input[type="reset"] {
    color: #ffffff;
    background-color: #1693a5;
}

input[type="text"]:hover,
input[type="password"]:hover,
input[type="email"]:hover,
textarea:hover,
input[type="color"]:hover,
input[type="date"]:hover,
input[type="datetime"]:hover,
input[type="datetime-local"]:hover,
input[type="month"]:hover,
input[type="number"]:hover,
input[type="range"]:hover,
input[type="search"]:hover,
input[type="tel"]:hover,
input[type="time"]:hover,
input[type="url"]:hover,
input[type="week"]:hover {
    background-color: rgba(255, 255, 255, 0.4);
}

.entry-content pre {
    border-color: #cccccc;
    border-bottom-color: #1693a5;
}

.entry-content code {
    background-color: #ffffff;
}

.entry-content blockquote {
    border-color: #ffffff;
}

abbr,
acronym {
    border-color: #444444;
}

.comment-meta a {
    color: #444444;
}

#respond .form-allowed-tags {
    color: #999999;
}

.entry-meta .crycon-metas:before {
    color: #cccccc;
}

.entry-meta span a,
.comments-link a,
.entry-meta {
    color: #666666;
}

.entry-meta span a:hover,
.comments-link a:hover {
}

.nav-next a:hover {
}

.nav-previous a:hover {
}

.pagination {
    border-color: #f5f5f5;
}

.pagination span,
.pagination a {
    background: #ffffff;
    border-left-color: #e5e5e5;
    border-right-color: #ffffff;
}

.pagination a:hover {
    background: #ffffff;
}

#searchform input[type="text"] {
    color: #999999;
}

.caption-accented .wp-caption {
    background-color: rgba(22, 147, 165, 0.8);
    color: #ffffff;
}

.tempera-image-one .entry-content img[class*="align"],
.tempera-image-one .entry-summary img[class*="align"],
.tempera-image-two .entry-content img[class*="align"],
.tempera-image-two .entry-summary img[class*="align"] {
    border-color: #1693a5;
}

html {
    font-size: 15px;
    line-height: 1.7;
}

#content p,
#content ul,
#content ol,
#content,
#frontpage blockquote {
    text-align: Default;
}

#content p,
#content ul,
#content ol,
#content dl,
.widget-area,
.widget-area a,
table,
table td {
    word-spacing: Default;
}

#content h1.entry-title,
#content h2.entry-title {
    font-size: 34px;
}

.widget-title,
.widget-title a {
    font-size: 18px;
}

h1 {
    font-size: 2.526em;
}

h2 {
    font-size: 2.202em;
}

h3 {
    font-size: 1.878em;
}

h4 {
    font-size: 1.554em;
}

h5 {
    font-size: 1.23em;
}

h6 {
    font-size: 0.906em;
}

#site-title {
    font-size: 38px;
}

#access ul li a,
li.menu-main-search .searchform input[type="search"] {
    font-size: 14px;
}

#respond .form-allowed-tags {
    display: none;
}

.nocomments,
.nocomments2 {
    display: none;
}

.comments-link span {
    display: none;
}

#header-container > div {
    margin: 40px 0 0 0px;
}

#content p,
#content ul,
#content ol,
#content dd,
#content pre,
#content hr {
    margin-bottom: 1em;
}

footer.entry-meta {
    display: none;
}

#toTop {
    background: #ffffff;
    margin-left: 1300px;
}

#toTop:hover .crycon-back2top:before {
    color: #d6341d;
}

#main {
    margin-top: 20px;
}

#forbottom {
    margin-left: 30px;
    margin-right: 30px;
}

#header-widget-area {
    width: 33%;
}

#branding {
    height: 120px;
}

.slider-wrapper {
    max-width: 1150px;
    max-height: 400px;
}

.slider-shadow {
    /* width: 1150px ; */
}

#slider {
    max-width: 1150px;
    max-height: 400px;
}

.theme-default .nivo-controlNav {
    top: -40px;
}

#front-text1 h2,
#front-text2 h2 {
    color: #444444;
}

#front-columns > div,
#front-columns > li {
    width: 30%;
}

#front-columns > div.column3,
#front-columns > li:nth-child(n + 3) {
    margin-right: 0;
}

.rtl #front-columns > div.column3,
.rtl #front-columns > li:nth-child(n + 3) {
    margin-left: 0;
}

.column-image {
    max-width: 318px;
    margin: 0 auto;
}

.column-image img {
    max-width: 318px;
    height: 201px;
    background: #ccc;
}

.nivo-caption {
    background-color: rgba(0, 0, 0, 0.7);
}

.nivo-caption,
.nivo-caption a {
    color: #ffffff;
}

.theme-default .nivo-controlNav,
.theme-default .nivo-directionNav a {
    background-color: #ffffff;
}

.slider-bullets .nivo-controlNav a {
    background-color: #e7e7e7;
}

.slider-bullets .nivo-controlNav a:hover {
    background-color: #d3d3d3;
}

.slider-bullets .nivo-controlNav a.active {
    background-color: #1693a5;
}

.slider-numbers .nivo-controlNav a {
    color: #ffffff;
    background-color: #000000;
}

.slider-numbers .nivo-controlNav a:hover {
    color: #1693a5;
}

.slider-numbers .nivo-controlNav a.active {
    color: #1693a5;
}

.post img {
    display: block;
    max-width: 100%;
    object-fit: cover;
    background: #ccc;
    @media screen and (max-width: 980px) {
        width: 100%;
    }
}
.post-layout.post img {
    margin: 1em auto;
}

.sd-content ul {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;

    li {
        margin: 0;
        padding: 0;
    }

    .share-linkedin {
        > span {
            vertical-align: middle;
        }
    }
}

body {
    position: relative;
    overflow: auto;
}
#nav-toggle, #access {
    &.mobile-show {
        position: fixed;
        top: 0;
        left: 0;
        z-index: 9999;
        box-shadow: 0px 5px 5px #0002;
        animation: fadeDown 500ms;
    }
}

#nav-toggle.mobile-show {
    left: unset;
    text-align: right;
    right: 0;
    z-index: 99999;
    width: 50px;
    border-radius: 50px;
}

@keyframes fadeDown {
    from {
        top: -1em;
    }
    to {
        top: 0;
    }
}

img[data-src] {
    transition: filter 500ms;
    &:not(.loaded) {
        filter: blur(5px) saturate(150%);
    }
}

.slider-wrapper, #front-columns {
    @media screen and (max-width: 800px) {
        display: none;
    }
}

#track-nav {
    // visibility: hidden;
    opacity: 0;
    height: 5px;
}