<footer id="footer" role="contentinfo">
    <div id="colophon">



    </div><!-- #colophon -->

    <div id="footer2">

        <nav class="footermenu">
            <ul id="menu-primary-naviator" class="menu">
                <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-359"><a
                        href="{{site.baseurl}}/triton/">Tri Ton</a></li>
                <li class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-358"><a
                        href="{{site.baseurl}}/category/global-macro/">Global Macro</a></li>
                <li class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-739"><a
                        href="{{site.baseurl}}/category/investment/">Investment</a></li>
                <li class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-356"><a
                        href="{{site.baseurl}}/category/nomad-thinking/">Nomad Thinking</a></li>
            </ul>
        </nav> <span style="display:block;float:right;text-align:right;padding:0 20px 5px;font-size:.9em;">
            Powered by <a target="_blank" href="http://www.cryoutcreations.eu"
                title="Tempera Theme by Cryout Creations">Tempera</a> &amp; <a target="_blank"
                href="http://wordpress.org/" title="Semantic Personal Publishing Platform"> WordPress. </a>
        </span><!-- #site-info -->

    </div><!-- #footer2 -->

</footer><!-- #footer -->