<div class="sharedaddy sd-sharing-enabled">
    <div class="robots-nocontent sd-block sd-social sd-social-icon sd-sharing">
        <div class="sd-content">
            <ul>
                <li class="share-facebook">
                    <a rel="nofollow noopener noreferrer" data-shared="sharing-facebook-1596"
                        class="share-facebook sd-button share-icon no-text"
                        href="https://huetri.com/2015/12/11/risk-and-rare-events/?share=facebook&amp;nb=1"
                        target="_blank" title="Click to share on Facebook"><span></span><span
                            class="sharing-screen-reader-text">Click to share on Facebook (Opens in new
                            window)</span></a>
                </li>
                <li class="share-linkedin">
                    <a rel="nofollow noopener noreferrer" data-shared="sharing-linkedin-1596"
                        class="share-linkedin sd-button share-icon no-text"
                        href="https://huetri.com/2015/12/11/risk-and-rare-events/?share=linkedin&amp;nb=1"
                        target="_blank" title="Click to share on LinkedIn"><span></span><span
                            class="sharing-screen-reader-text">Click to share on LinkedIn (Opens in new
                            window)</span></a>
                </li>
                <li class="share-email share-service-visible">
                    <a rel="nofollow noopener noreferrer" data-shared=""
                        class="share-email sd-button share-icon no-text"
                        href="https://huetri.com/2015/12/11/risk-and-rare-events/?share=email&amp;nb=1" target="_blank"
                        title="Click to email this to a friend"><span></span><span
                            class="sharing-screen-reader-text">Click to email this to a friend (Opens in
                            new window)</span></a>
                </li>
                <li class="share-end"></li>
            </ul>
        </div>
    </div>
</div>