<aside id="primary" class="widget-area sidey" role="complementary">
    <ul class="xoxo">
        <li id="categories-2" class="widget-container widget_categories"></li>
            <h3 class="widget-title">Interests</h3>
            <ul>
                {%- for main_cat in site.data.categories -%}
                <li class="cat-item cat-item-3">
                    <a href="{{ site.baseurl }}/category/{{main_cat.name | slugify}}/">
                        {{- main_cat.name -}}
                    </a>
                    <ul class="children">
                        {%- for subcat in main_cat.child -%}
                        <li class="cat-item cat-item-12">
                            <a href="{{ site.baseurl }}/category/{{subcat | slugify}}/">
                                {{- subcat -}}
                            </a>
                        </li>
                        {%- endfor -%}
                    </ul>
                </li>
                {%- endfor -%}
            </ul>
        </li>
    </ul>
</aside>