---
layout: with_sidebar
body_class: archive category
---

<header class="page-header">
    <h1 class="page-title">
        {%- if page.type == "category" -%} 
            Category:&nbsp;{{- page.title -}} 
        {%- elsif page.type == 'tag' -%} 
            Tag:&nbsp;{{- page.title -}}
        {%- elsif page.type == 'month' -%}
            Month:&nbsp;{{- page.date | date: '%B %Y' -}}
        {%- endif -%}
    </h1>
</header>

{% assign sorted_post = page.posts | sort: date | reverse %} {%- for
post in sorted_post -%}
<article id="post-{{ post.title | slug }}"
    class="post type-post status-publish format-standard has-post-thumbnail hentry category-investment category-macro-major-events category-nomad-thinking tag-financial-crisis tag-global-macro tag-investment-principles tag-risk-management">
    <header class="entry-header">
        <h2 class="entry-title">
            <a href="{{ site.baseurl }}{{ post.url }}" title="Permalink to {{ post.title }}" rel="bookmark">
                {{- post.title -}}
            </a>
        </h2>
        <div class="entry-meta">
            <span class="author vcard">
                <i class="crycon-author crycon-metas" title="Author "></i>
                <a class="url fn n" rel="author" href="#" title="View all posts by {{site.author}}">
                    {{ site.author }}
                </a>
            </span>
            <span>
                <i class="crycon-time crycon-metas" title="Date"></i>
                <time class="onDate date published" datetime="{{ post.date }}">
                    <a href="{{ site.baseurl }}{{ post.url }}" rel="bookmark">{{ post.date | date: "%-d %B %Y" }}</a>
                </time>
            </span>
            <span class="bl_categ">
                <i class="crycon-folder-open crycon-metas" title="Categories"></i>
                {%- for cate in post.categories -%}
                <a href="{{ site.baseurl }}/category/{{cate | slugify}}" rel="tag">{{ cate }}</a>,&nbsp; 
                {%- endfor -%}
            </span>
            <span class="footer-tags">
                <i class="crycon-tag crycon-metas" title="Tags"> </i>
                {%- for tag in post.tags -%}
                <a href="{{ site.baseurl }}/tag/{{ tag | slugify }}/" rel="tag">{{ tag }}</a>,&nbsp; 
                {%- endfor -%}
            </span> 
        </div><!-- .entry-meta -->
    </header><!-- .entry-header -->

    <div class="entry-summary">
        {%- if post.thumbnail_url -%}
        <a href="{{ site.baseurl }}{{ post.url }}" title="{{ post.title }}">
            <img width="250" height="150" 
                src="{{ post.thumbnail_url | relative_url | replace: '.jpg', '-min.jpg' | replace: '.png', '-min.png' }}" 
                class="alignleft post_thumbnail wp-post-image"
                data-src="{{ post.thumbnail_url | relative_url }}"
                alt="" />
        </a>
        {%- endif -%}

        <p>{{post.content | strip_html | truncate: 300, '...' }}</p>
        <p class="continue-reading-button">
            <a class="continue-reading-link" href="{{ site.baseurl }}{{ post.url }}">
                Explore<i class="crycon-right-dir"></i>
            </a>
        </p>
    </div><!-- .entry-summary -->

    <footer class="entry-meta"> </footer>
</article><!-- #post-1596 -->
{%- endfor -%}