---
layout: with_sidebar
---
<div id="post"
    class="post-layout  post type-post status-publish format-standard has-post-thumbnail hentry category-investment category-macro-major-events category-nomad-thinking tag-financial-crisis tag-global-macro tag-investment-principles tag-risk-management">
    <h1 class="entry-title">{{ page.title }}</h1>
    <div class="entry-meta">
        <span class="author vcard">
            <i class="crycon-author crycon-metas" title="Author "></i>
            <a class="url fn n" rel="author" href="https://huetri.com/author/huetrigmail-com/"
                title="View all posts by Tri Ton">Tri Ton</a>
        </span>
        <span>
            <i class="crycon-time crycon-metas" title="Date"></i>
            <time class="onDate date published" datetime="{{page.date}}">
                <a href="{{ page.url | relative_url }}" rel="bookmark">
                    {{- page.date | date: "%B %-d,%Y - %l:%M %p" -}}
                </a>
            </time>
        </span>
        <time class="updated" datetime="{{page.date}}">{{ page.date }}</time>
        <span class="bl_categ">
            <i class="crycon-folder-open crycon-metas" title="Categories"></i>
            {%- for cat in page.categories -%}
            <a href="{{ site.baseurl }}/category/{{ cat }}/" rel="tag">{{ cat }}, </a>
            {%- endfor -%}
    </div>
    <!-- .entry-meta -->

    <div class="entry-content">
        <style type="text/css">
            .fb-comments,
            .fb-comments span,
            .fb-comments span iframe[style] {
                min-width: 100% !important;
                width: 100% !important;
            }
        </style>
        <div id="fb-root" class=" fb_reset"></div>

        {{ page.content }}

        <!-- <script type="text/javascript">
            jQuery(document).ready(function ($) {
                $.post("https://huetri.com/wp-admin/admin-ajax.php", {
                    action: "wpt_view_count",
                    id: "1596"
                });
            });
        </script> -->

        <div class="heateorFfcClear"></div>
        <div>
            <div class="fb-like" 
                data-href="{{site.url}}{{site.baseurl}}{{ page.url }}" 
                data-layout="standard" 
                data-action="like" 
                data-size="large" 
                data-show-faces="true" data-share="true"></div>
        </div>
        <div style="width:100%;text-align:left;" class="heateor_ffc_facebook_comments">
            <h4 class="heateor_ffc_facebook_comments_title"
                style="padding:10px;font-family:Arial,Helvetica Neue,Helvetica,sans-serif;">
                Comments
            </h4>
            {%- include comments.html url=page.url -%}
        </div>
        <div class="heateorFfcClear"></div>
    </div>
    <!-- .entry-content -->

    <footer class="entry-meta">
        <span class="footer-tags"><i class="crycon-tag crycon-metas" title="Tagged"></i>&nbsp;
            <a href="https://huetri.com/tag/financial-crisis/" rel="tag">Financial Crisis</a>,
            <a href="https://huetri.com/tag/global-macro/" rel="tag">Global Macro</a>,
            <a href="https://huetri.com/tag/investment-principles/" rel="tag">Investment Principles</a>,
            <a href="https://huetri.com/tag/risk-management/" rel="tag">Risk Management</a>.</span>
    </footer>
    <!-- .entry-meta -->
</div>

<div id="nav-below" class="navigation">
    <div class="nav-previous">
        <a href="{{ page.previous.url | relative_url }}" rel="prev">
            <i class="meta-nav-prev"></i>
            {{- page.previous.title -}}
        </a>
    </div>
    <div class="nav-next">
        <a href="{{ page.next.url | relative_url }}" rel="next">
            {{- page.next.title -}}
            <i class="meta-nav-next"></i>
        </a>
    </div>
</div>