---
layout: default
---

<section id="container" class="two-columns-left">
    <div id="content" role="main">
        <div class="breadcrumbs">
            <a href="{{- '/' | relative_url -}}"
                ><i class="crycon-homebread"></i
                ><span class="screen-reader-text">Home</span></a
            >
            {%- assign breadcrumbs = page.url | split: '/' -%}
            {%- assign path = site.baseurl -%}
            {%- for item in breadcrumbs -%}
                {%- if item != '' -%}
                    {%- assign path = path | append: '/' | append: item -%}
                    <i class="crycon-angle-right"></i>
                    <a href='{{ path | relative_url }}'>{{ item }}</a>
                {%- endif -%}
            {%- endfor -%}
        </div>
        <!--breadcrumbs-->

        {{ content }}
        <!-- #post-## -->

        <!-- #comments -->
    </div>
    <!-- #content -->
    {%- include sidebar.html -%}
</section>
<!-- #container -->
