---
layout: default
---
<section id="container" class="two-columns-left">
    <div id="content" role="main">
        <div class="breadcrumbs">
            <a href="{{ '/' | relative_url }}"><i class="crycon-homebread"></i><span
                    class="screen-reader-text">Home</span></a>
            <i class="crycon-angle-right"></i>
            {%- if page.type == 'category' -%}
                <span>{{ page.title }}</span>
            {%- elsif page.type == 'tag' -%}
                <span>{{ page.title }}</span>
            {%- elsif page.type == 'month' -%}
                <span>{{ page.date | date: '%B %Y' }}</span>
            {%- elsif page.categories[0] -%}
                <a href="{{ site.baseurl }}/category/{{ page.categories[0] | slugify }}">
                    {{- page.categories[0] -}}
                </a>

                <i class="crycon-angle-right"></i>
                <span>{{ page.title }}</span>
            {%- else -%}
                <span>{{ page.title }}</span>
            {%- endif -%}
        </div>
        <!--breadcrumbs-->

        {{ content }}
        <!-- #post-## -->

        <!-- #comments -->
    </div>
    <!-- #content -->
    {%- include sidebar.html -%}
</section>
<!-- #container -->